<section class="gray">
	<div class="container">
		<div class="row">
				<!-- row -->
				<div class="row justify-content-center gx-3">
					
					<!-- Single -->
				@foreach (var ser in ViewBag.Services)
				{
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="Goodup-grid-wrap">
							<div class="Goodup-grid-upper">
								<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>

								<div class="Goodup-grid-thumb">
									<a href="listing-search-v1.html" class="d-block text-center m-auto"><img src="@ser.ImagePath" class="img-fluid" alt=""></a>
								</div>
							</div>
							<div class="Goodup-grid-fl-wrap">
								<div class="Goodup-caption px-3 py-2">


									<h4 class="mb-0 ft-medium medium"><a href="listing-search-v1.html" class="text-dark fs-md">@ser.Name<span class="verified-badge"><i class="fas fa-check-circle"></i></span></a></h4>

								</div>
								<div class="Goodup-grid-footer py-3 px-3">
									<div class="Goodup-ft-first">
+-
										<div class="Goodup-price-range">
											<span class="active">@ser.BasePrice<i class="fas fa-dollar-sign"></i></span>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				}
					

					<!-- Single -->
					

				</div>
				<!-- /row -->

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span class="fas fa-arrow-circle-right"></span>
									<span class="sr-only">قبل</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item active"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">...</a></li>
							<li class="page-item"><a class="page-link" href="#">18</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span class="fas fa-arrow-circle-left"></span>
									<span class="sr-only">بعد</span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>