@using HomeService.Domain.Core.HomeService.CommentEntity.DTO

@model AddCommentDTO


<div class="bg-white rounded mb-4">
	<div class="jbd-01 px-4 py-4">
		<div class="jbd-details mb-4">
			<h5 class="ft-bold fs-lg">ثبت امتیاز و نظر</h5>
			<div class="review-form-box form-submit mt-3">
				<form asp-area="Customer" asp-controller="Comment" asp-action="Addcomments" method="post">
					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="form-group mb-3">
								<label class="ft-medium small mb-1">امتیازدهی</label>
								<select asp-for="Score" class="form-control rounded " required>
									<option value="">انتخاب امتیاز</option>
									<option value="1">1 ستاره</option>
									<option value="2">2 ستاره</option>
									<option value="3">3 ستاره</option>
									<option value="4">4 ستاره</option>
									<option value="5">5 ستاره</option>
								</select>
							</div>
						</div>
						<input type="hidden" asp-for="CustomerId" value="@ViewBag.Customer.Id" />
						<input type="hidden" asp-for="OfferId" value="@ViewBag.offer.Id" />
						<input type="hidden" asp-for="ExpertId" value="@ViewBag.offer.Expert.Id" />
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group mb-3">
								<label class="ft-medium small mb-1">موضوع</label>
								<input asp-for="Title" class="form-control rounded" type="text" placeholder="موضوع" required>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="form-group mb-3">
								<label class="ft-medium small mb-1">ثبت نظر</label>
								<textarea asp-for="Description" class="form-control rounded ht-140" placeholder="نظر خود را بنویسید" required></textarea>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="form-group">
								<button type="submit" class="btn theme-bg text-light rounded">ثبت نظر</button>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>